@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    border-color: #e5e7eb;
  }
  html, body {
    overflow-x: hidden;
  }
  body {
    background-color: #f3f4f6;
    color: #1f2937;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
